<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/static/web/bootCJ/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/web/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/web/css/style1.css">
    <link rel="stylesheet" type="text/css" href="/static/web/bootstrap-icons-1.8.1/bootstrap-icons-1.8.1/bootstrap-icons.css">


    <title>Aboutus</title>
</head>

<section>
    <nav class="navbar navbar-expand-lg navbar-light bg-warning fixed-top">
        <div class="container-fluid">
            <div class="navbar-brand text-outline-danger  fs-2 fw-bold  fst-italic" id="nav1" href="#">Jewellery
                <sub>Shop Management</sub>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- e-left s-right x-center -->
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active fs-5 " aria-current="page" href="/index/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  active fs-5" href="/Aboutus/">About Us</a>

                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle active fs-5" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">Services
                        </a>
                        <ul class="dropdown-menu bg-warning" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/purity/">Purity</a></li>
                            <li><a class="dropdown-item" href="/purity/">Quality</a></li>
                            <li><a class="dropdown-item" href="/purity/">Stylish</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  active fs-5" href="/Gold/">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active fs-5" href="/welcome/">Logout</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</section>
<section>
    <div class="cont row p-5   rounded-3 ">
        <div class="col-6 container pt-5">
            <img src="/static/web/img/cm1.jpg" alt="" height="400" width="600">
        </div>
        <div class="col-6 container py-5"><br>
            <h1 class="display-5 fw-bold fst-italic">Jewellery <sub>Management</sub></h1><br><br>
            <p class="txt1 col-md-8 fs-4 text-capitalize">Indias number one gold and daimond fancy jewellary company
                in 2022.</p>
            <!-- <button class="btn btn-outline-warning btn-lg mt-3" type="button">For More</button> -->
        </div>
    </div>
    <div class="container-fluid" id="cd1">
        <div class="row">
            <div class="col-6">
                <h2 class="text-center text-light mt-5"> OUR STORYS </h2><br>
                <p class="fs-4 text-light mb-4 px-3" id="p22">
                    Implicity never goes out of style - this has been our philosophy at Shanti and one of the
                    many things that brought us together! Our frustration with the lack of this simplicity in the fine
                    jewellery we owned made us think of InfyNow. All the pieces we owned were heavy, kept in our bank
                    lockers and taken out only for special occasions. We realized this was the case with most girls in
                    our generation and so decided to build something that every girl has most likely looked for but
                    couldn’t find –Fine jewellery that can be worn every day, that the modern girl feels proud to own,
                    and that doesn’t break the bank!At InfyNow you will find jewellery in 18 kt gold, which is classic,
                    minimalist and contemporary that you can enjoy wearing everyday, while dressing up or down!</p>
            </div>
            <div class="col-6 w-70 pt-3">
                <img src="/static/web/img/jwl1.gif" alt="">
            </div>

        </div>
    </div>
    <div class="container-fluid" id="cd2">
        <div class="row">

            <div class="col-6">
                <img src="/static/web/img/dg1.jpg" class="w-100 pt-3" alt="">
            </div>
            <div class="col-6">
                <h2 class="text-center text mt-5">WHY Jewellery</h2><br>
                <p class="fs-4" id="p22">
                    Luxury should be fun, affordable and part of your everyday. Crafted in 18k gold and diamonds,
                    our pieces are luxurious yet light, hassle-free and easy to wear. Based out of Mumbai, India, InfyNo
                    was born with the idea to create pieces that can go from the breakfast table to the dance floor,
                    from your office wardrobe to your indianwear, from a simple look to a Shanti’d bolder look!The
                    versatility of InfyNo is what sets it apart - we are here to complement your style, not define it!At
                    Shanti, we truly believe that you don’t need an occasion to wear fine jewellery!!</p>
            </div>

        </div>
    </div>

</section>
<!-- <section class="back p-5">
    <h1 class="text-center">Contact Us</h1>
    <div class="container">
        <div class="row">
            <div class="col-4 mx-auto">
                <form action="">
                    <label class="form-label">Name</label>
                    <input type="text" id="" class="form-control">
                    <label class="form-label">Address</label>
                    <input type="text" id="" class="form-control">
                    <label class="form-label">Mail</label>
                    <input type="email" id="" class="form-control">
                    <label class="form-label">Phone.No</label>
                    <input type="text" id="" class="form-control">
                    <label class="form-label">Details</label>
                    <input type="text" id="" class="form-control"><br><br>
                    
                    
                    <button type="button" class="btn btn-danger btn-lg">Submit</button>
                </form>
            </div>

        </div>

    </div>
</section> -->
<footer id="footer">

    <div class="footer-top">
        <div class="container align-items-center">
            <div class="row">

                <div class="col-4" style="padding-left: 10%;">
                    <h3>Company</h3>
                    <p>
                        Info <br>
                        Belagavi <br><br>
                        <strong>Phone:</strong> +91 123456789<br>
                        <strong>Email:</strong> info.com<br>
                    </p>
                </div>

                <div class="col-lg-4  footer-links mb-2 pb-5" style="padding-left: 10%;">
                    <h3>Useful Links</h3>
                    <ul class="pt-4">
                        <li><i class="bx bx-chevron-right"></i> <a href="/index/">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/Aboutus/">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/purity/">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="/Aboutus/">Terms of service</a></li>
                    </ul>
                </div>

                <!-- <div class="col-lg-3 col-md-6 footer-links">
                    <h3>Our Services</h3>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                    </ul>
                </div> -->

                <div class="col-4" style="padding-left: 10%;">
                    <h3>Media Services</h3><br>
                    <div class="header-social-links d-flex fs-5 text-light">
                        <ul>
                            <i class="text-light bu bi-twitter"></i> <a href="#" class="text-light">Twitter</a><br>
                            <i class="text-light bu bi-facebook"></i> <a href="#"
                                class="text-light">Facebook</a><br>
                            <i class="text-light bu bi-instagram"></i> <a href="#" class="text-light">Instagram</a>


                        </ul>





                    </div>
                </div>



            </div>
        </div>
    </div>

    <div class="container-fluid p-4 fs-5">

        <div class="me-md-auto text-center text-md-start">
            <div class="copyright text-center">
                &copy; Copyright <strong><span> Jewellery Management</span></strong>. All Rights Reserved
            </div>


        </div>


    </div>


</footer>


<script src="/static/web/bootCJ/js/bootstrap.min.js"></script>
</body>

</html>