<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/web/bootCJ/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/web/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/web/css/style1.css">
    <link rel="stylesheet" type="text/css" href="/static/web/bootstrap-icons-1.8.1/bootstrap-icons-1.8.1/bootstrap-icons.css">

    <title>Purity</title>
</head>

<body class="" style="background-image: url(/static/web/img/p2.jpg);">
    <section>
        <nav class="navbar navbar-expand-lg navbar-light bg-warning fixed-top">
            <div class="container-fluid">
                <div class="navbar-brand text-outline-danger  fs-2 fw-bold  fst-italic" id="nav1" href="#">Jewellery
                    <sub>Shop Management</sub>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- e-left s-right x-center -->
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active fs-5 " aria-current="page" href="/index/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  active fs-5" href="/Aboutus/">About Us</a>

                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle active fs-5" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Services
                            </a>
                            <ul class="dropdown-menu bg-warning" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/purity/">Purity</a></li>
                                <li><a class="dropdown-item" href="/purity/">Quality</a></li>
                                <li><a class="dropdown-item" href="/purity/">Stylish</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  active fs-5" href="/Gold/">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active fs-5" href="/welcome/">Logout</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </section>
    <section >
        <p class="text-center mt-5 pt-5" style="margin-top:30%;" id="ft">Purity Service Shop Management</p>
        <div class="container mt-5 mb-4">
            <p class="text-warning text-center fs-4 text-decoration-underline fst-italic">Purity Chart</p>
            <table class="table table-striped bg-warning border border-danger fs-5 text-dark">
                <thead>
                    <tr>
                        <td style="height:20px; width:87px"> </td>
                        <td style="width:109px">Caratage</td>
                        <td style="width:108px">Gold(Au)</td>
                        <td style="width:117px">Silver (Ag)</td>
                        <td style="width:108px"> Copper (Cu)</td>
                        <td style="width:99px">Zinc (Zn)</td>
                        <td style="width:103px">Palladium (Pd) </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="height:20px">Yellow Gold</td>
                        <td>9k</td>
                        <td>37.5%</td>
                        <td>42.50%</td>
                        <td>20%</td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td style="height:20px">Yellow Gold</td>
                        <td>10k</td>
                        <td>41.70%</td>
                        <td>52%</td>
                        <td>6.30%</td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td style="height:20px">Yellow Gold</td>
                        <td>14k</td>
                        <td>58.30%</td>
                        <td>30%</td>
                        <td>11.70%</td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td style="height:20px">Yellow Gold</td>
                        <td>18k</td>
                        <td>75%</td>
                        <td>15%</td>
                        <td>10%</td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td style="height:20px">Yellow Gold</td>
                        <td>22k</td>
                        <td>91.70%</td>
                        <td>5%</td>
                        <td>2%</td>
                        <td>1.30%</td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td style="height:20px">White Gold</td>
                        <td>9k</td>
                        <td>37.5%</td>
                        <td>62.5%</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td style="height:20px">White Gold</td>
                        <td>10k</td>
                        <td>41.7%</td>
                        <td>47.4%</td>
                        <td> </td>
                        <td>0.9%</td>
                        <td>10%</td>
                    </tr>
                    <tr>
                        <td style="height:20px">White Gold</td>
                        <td>14k</td>
                        <td>58.30%</td>
                        <td>32.20%</td>
                        <td> </td>
                        <td> </td>
                        <td>9.50%</td>
                    </tr>
                    <tr>
                        <td style="height:20px">White Gold</td>
                        <td>18k</td>
                        <td>75%</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>25% (or Pt)</td>
                    </tr>
                    <tr>
                        <td style="height:20px">White Gold</td>
                        <td>22k</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                        <td>N/A</td>
                    </tr>
                    <tr>
                        <td style="height:20px">Rose Gold</td>
                        <td>9k</td>
                        <td>37.5%</td>
                        <td>20%</td>
                        <td>42.5%</td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td style="height:20px">Rose Gold</td>
                        <td>10k</td>
                        <td>41.70%</td>
                        <td>20%</td>
                        <td>38.3%</td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td style="height:20px">Rose Gold</td>
                        <td>14k</td>
                        <td>58.30%</td>
                        <td>9.2%</td>
                        <td>32.5%</td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td style="height:20px">Rose Gold</td>
                        <td>18k</td>
                        <td>75%</td>
                        <td>9.2%</td>
                        <td>22.2%</td>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td style="height:20px">Rose Gold</td>
                        <td>22k</td>
                        <td>91.7%</td>
                        <td> </td>
                        <td>8.40%</td>
                        <td> </td>
                        <td> </td>
                    </tr>
                </tbody>
            </table>
        </div>

        </div>


    </section>
    <footer id="footer">

        <div class="footer-top">
            <div class="container align-items-center">
                <div class="row">

                    <div class="col-4" style="padding-left: 10%;">
                        <h3>Company</h3>
                        <p>
                            Info <br>
                            Belagavi <br><br>
                            <strong>Phone:</strong> +91 123456789<br>
                            <strong>Email:</strong> info.com<br>
                        </p>
                    </div>

                    <div class="col-lg-4  footer-links mb-2 pb-5" style="padding-left: 10%;">
                        <h3>Useful Links</h3>
                        <ul class="pt-4">
                            <li><i class="bx bx-chevron-right"></i> <a href="/index/">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/Aboutus/">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/purity/">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/Aboutus/">Terms of service</a></li>
                        </ul>
                    </div>

                    <!-- <div class="col-lg-3 col-md-6 footer-links">
                        <h3>Our Services</h3>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Product Shop Management</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                        </ul>
                    </div> -->

                    <div class="col-4" style="padding-left: 10%;">
                        <h3>Media Services</h3><br>
                        <div class="header-social-links d-flex fs-5 text-light">
                            <ul>
                                <i class="text-light bu bi-twitter"></i> <a href="#" class="text-light">Twitter</a><br>
                                <i class="text-light bu bi-facebook"></i> <a href="#"
                                    class="text-light">Facebook</a><br>
                                <i class="text-light bu bi-instagram"></i> <a href="#" class="text-light">Instagram</a>


                            </ul>





                        </div>
                    </div>



                </div>
            </div>
        </div>

        <div class="container-fluid p-4 fs-5">

            <div class="me-md-auto text-center text-md-start">
                <div class="copyright text-center">
                    &copy; Copyright <strong><span> Jewellery Shop Management</span></strong>. All Rights Reserved
                </div>


            </div>


        </div>


    </footer>




    <script src="/static/web/bootCJ/js/bootstrap.min.js"></script>
    <script src="/static/vendor/js/datatables-simple-demo.js"></script>
</body>

</html>