<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="/static/web/bootCJ/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/web/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/web/css/style1.css">
    <link rel="stylesheet" type="text/css" href="/static/web/bootstrap-icons-1.8.1/bootstrap-icons-1.8.1/bootstrap-icons.css">

</head>

<body class="back123" style=" background-image: url(/static/web/img/wel.jpg); flex: 100%; background-position-y: 20%; background-position-x: 20%;" >
 <!-- Masthead-->
 <header class="masthead">
    <div class="container-fluid px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
        <div class="d-flex justify-content-center">
            <div class="text-center " id="ppy" style="padding-top: 30% ;  padding-right:90%; margin-right: 50%;">
                <h1 class="mx-auto my-0 text-uppercase text-light">Jewellery Shop Management</h1>
                <h5 class="wtext mx-auto mt-2 mb-5 fst-italic text-warning">Purchase juwels for Purity life.</h5>
                <a class="btn btn-outline-danger " href="/signin/">ADMIN</a>
                <!-- <a class="btn btn-outline-secondary" href="/vendorin/">VENDOR</a> -->
                <a class="btn btn-outline-warning" href="/login/">USER</a>
            </div>
        </div>
    </div>
</header>






    <script src="/static/web/bootCJ/js/bootstrap.min.js"></script>
</body>

</html>